In [2]:
import pandas as pd
import numpy as np

In [40]:
store = pd.read_csv('Data\Data_Set.csv')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Ashwanth\AppData\Local\Temp\ipykernel_13152\3276611120.py:1: SyntaxWarning: invalid escape sequence '\D'
  store = pd.read_csv('Data\Data_Set.csv')

In [4]:
store.head()

,Date,Store ID,Product ID,Category,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount
0,01-01-2022,S001,P0001,Fresh Produce,231,127,55,135.47,33.50,20
1,01-01-2022,S001,P0002,Bakery and Confectionery,204,150,66,144.04,63.01,20
2,01-01-2022,S001,P0003,Meat and Poultry,102,65,51,74.02,27.99,10
3,01-01-2022,S001,P0004,Seafood,469,61,164,62.18,32.72,10
4,01-01-2022,S001,P0005,Snacks and Beverages,166,14,135,9.26,73.64,0

In [41]:
store['Date'] = pd.to_datetime(store['Date'], dayfirst=True)
store['Year'] = store['Date'].dt.year
store['Month'] = store['Date'].dt.month
store['Day'] = store['Date'].dt.day
store['DayOfWeek'] = store['Date'].dt.dayofweek
store['WeekOfYear'] = store['Date'].dt.isocalendar().week
store['Quarter'] = store['Date'].dt.quarter
store['IsWeekend'] = store['DayOfWeek'].apply(lambda x: 1 if x >= 5 else 0)

In [42]:
store.head()

,Date,Store ID,Product ID,Category,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Year,Month,Day,DayOfWeek,WeekOfYear,Quarter,IsWeekend
0,2022-01-01,S001,P0001,Fresh Produce,231,127,55,135.47,33.50,20,2022,1,1,5,52,1,1
1,2022-01-01,S001,P0002,Bakery and Confectionery,204,150,66,144.04,63.01,20,2022,1,1,5,52,1,1
2,2022-01-01,S001,P0003,Meat and Poultry,102,65,51,74.02,27.99,10,2022,1,1,5,52,1,1
3,2022-01-01,S001,P0004,Seafood,469,61,164,62.18,32.72,10,2022,1,1,5,52,1,1
4,2022-01-01,S001,P0005,Snacks and Beverages,166,14,135,9.26,73.64,0,2022,1,1,5,52,1,1

In [43]:
store.shape

(73396, 17)

In [44]:
store.columns

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Inventory Level',
       'Units Sold', 'Units Ordered', 'Demand Forecast', 'Price', 'Discount',
       'Year', 'Month', 'Day', 'DayOfWeek', 'WeekOfYear', 'Quarter',
       'IsWeekend'],
      dtype='object')

In [45]:
store['Date'] = pd.to_datetime(store['Date'], format='%d-%m-%Y')
store = store.set_index('Date')
store.head()

,Store ID,Product ID,Category,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Year,Month,Day,DayOfWeek,WeekOfYear,Quarter,IsWeekend
Date,,,,,,,,,,,,,,,,
2022-01-01,S001,P0001,Fresh Produce,231,127,55,135.47,33.50,20,2022,1,1,5,52,1,1
2022-01-01,S001,P0002,Bakery and Confectionery,204,150,66,144.04,63.01,20,2022,1,1,5,52,1,1
2022-01-01,S001,P0003,Meat and Poultry,102,65,51,74.02,27.99,10,2022,1,1,5,52,1,1
2022-01-01,S001,P0004,Seafood,469,61,164,62.18,32.72,10,2022,1,1,5,52,1,1
2022-01-01,S001,P0005,Snacks and Beverages,166,14,135,9.26,73.64,0,2022,1,1,5,52,1,1

In [46]:
store = store[['Store ID', 'Product ID', 'Demand Forecast', 'Year', 'Month', 'Day', 'DayOfWeek', 'WeekOfYear', 'Quarter', 'IsWeekend', 'Units Sold']]
store.head()

,Store ID,Product ID,Demand Forecast,Year,Month,Day,DayOfWeek,WeekOfYear,Quarter,IsWeekend,Units Sold
Date,,,,,,,,,,,
2022-01-01,S001,P0001,135.47,2022,1,1,5,52,1,1,127
2022-01-01,S001,P0002,144.04,2022,1,1,5,52,1,1,150
2022-01-01,S001,P0003,74.02,2022,1,1,5,52,1,1,65
2022-01-01,S001,P0004,62.18,2022,1,1,5,52,1,1,61
2022-01-01,S001,P0005,9.26,2022,1,1,5,52,1,1,14

In [47]:
store.shape

(73396, 11)

In [48]:
store.isnull().sum()

Store ID           0
Product ID         0
Demand Forecast    0
Year               0
Month              0
Day                0
DayOfWeek          0
WeekOfYear         0
Quarter            0
IsWeekend          0
Units Sold         0
dtype: int64

In [49]:
store.duplicated()

Date
2022-01-01    False
2022-01-01    False
2022-01-01    False
2022-01-01    False
2022-01-01    False
              ...
2024-01-04    False
2024-01-04    False
2024-01-04    False
2024-01-04    False
2024-01-04    False
Length: 73396, dtype: bool

In [50]:
store['Store ID'] = store['Store ID'].map({'S001':1, 'S002':2, 'S003':3, 'S004':4, 'S005':5})
store['Product ID'] = store['Product ID'].map({'P0001':1, 'P0002':2, 'P0003':3, 'P0004':4, 'P0005':5, 'P0006':6, 'P0007':7, 'P0008':8, 'P0009':9, 'P0010':10, 'P0011':11, 'P0012':12, 'P0013':13, 'P0014':14, 'P0015':15, 'P0016':16, 'P0017':17, 'P0018':18, 'P0019':19, 'P0020':20})

In [51]:
store

,Store ID,Product ID,Demand Forecast,Year,Month,Day,DayOfWeek,WeekOfYear,Quarter,IsWeekend,Units Sold
Date,,,,,,,,,,,
2022-01-01,1,1,135.47,2022,1,1,5,52,1,1,127
2022-01-01,1,2,144.04,2022,1,1,5,52,1,1,150
2022-01-01,1,3,74.02,2022,1,1,5,52,1,1,65
2022-01-01,1,4,62.18,2022,1,1,5,52,1,1,61
2022-01-01,1,5,9.26,2022,1,1,5,52,1,1,14
...,...,...,...,...,...,...,...,...,...,...,...
2024-01-04,5,16,10.00,2024,1,4,3,1,1,0,2
2024-01-04,5,17,10.00,2024,1,4,3,1,1,0,3
2024-01-04,5,18,10.00,2024,1,4,3,1,1,0,54
2024-01-04,5,19,10.00,2024,1,4,3,1,1,0,23
2024-01-04,5,20,10.00,2024,1,4,3,1,1,0,10

In [52]:
store1 = store['Store ID'] == 1
store2 = store['Store ID'] == 2
store3 = store['Store ID'] == 3
store4 = store['Store ID'] == 4
store5 = store['Store ID'] == 5