In [4]:
import pandas as pd
import numpy as np

In [13]:
store = pd.read_csv('Data\Data_Set.csv')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Ashwanth\AppData\Local\Temp\ipykernel_13368\3276611120.py:1: SyntaxWarning: invalid escape sequence '\D'
  store = pd.read_csv('Data\Data_Set.csv')

In [14]:
store.head()

,Date,Store ID,Product ID,Category,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount
0,01-01-2022,S001,P0001,Fresh Produce,231,127,55,135.47,33.50,20
1,01-01-2022,S001,P0002,Bakery and Confectionery,204,150,66,144.04,63.01,20
2,01-01-2022,S001,P0003,Meat and Poultry,102,65,51,74.02,27.99,10
3,01-01-2022,S001,P0004,Seafood,469,61,164,62.18,32.72,10
4,01-01-2022,S001,P0005,Snacks and Beverages,166,14,135,9.26,73.64,0

In [16]:
store['Date'] = pd.to_datetime(store['Date'], dayfirst=True)
store['Year'] = store['Date'].dt.year
store['Month'] = store['Date'].dt.month
store['Day'] = store['Date'].dt.day
store['DayOfWeek'] = store['Date'].dt.dayofweek
store['WeekOfYear'] = store['Date'].dt.isocalendar().week
store['Quarter'] = store['Date'].dt.quarter
store['IsWeekend'] = store['DayOfWeek'].apply(lambda x: 1 if x >= 5 else 0)

In [17]:
store.head()

,Date,Store ID,Product ID,Category,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Year,Month,Day,DayOfWeek,WeekOfYear,Quarter,IsWeekend
0,2022-01-01,S001,P0001,Fresh Produce,231,127,55,135.47,33.50,20,2022,1,1,5,52,1,1
1,2022-01-01,S001,P0002,Bakery and Confectionery,204,150,66,144.04,63.01,20,2022,1,1,5,52,1,1
2,2022-01-01,S001,P0003,Meat and Poultry,102,65,51,74.02,27.99,10,2022,1,1,5,52,1,1
3,2022-01-01,S001,P0004,Seafood,469,61,164,62.18,32.72,10,2022,1,1,5,52,1,1
4,2022-01-01,S001,P0005,Snacks and Beverages,166,14,135,9.26,73.64,0,2022,1,1,5,52,1,1